extends layout

block content
  h1 Books
  prepend content
    form(action='/books', method="post")
        p
          input#search(type='text', name="searchFilter", placeholder='Search for books...', value=searchFilter)
          input.button(type='submit' value='Search')      
  p
    a.button(href='/books/new') Create New Book
  p
    | Filters 
    a(href='/books/') All
    |  | 
    a(href='/books/overdue') Overdue
    |  | 
    a(href='/books/checked_out') Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each book in books
        tr
          td
            a(href='/books/' + book.id) #{book.title}
          td= book.author
          td= book.genre
          td= book.first_published            
  append content 
    if pages > 0
    - var n = 1;
      div.pagination        
        ul.pagination-ul
          while n < pages + 1
            li
              a(href='/books/page_' + (n-1))= n++
            
